<h2>Lista Dipendenti</h2>



    <ul>
        <li>Nome e Cognome</li>
        <li>Area di Competenza</li>
        <li>Area di Competenza</li>
        <li>Livello</li>

    </ul>
    <ul>
        <li *ngFor="let dipendente of dipendenti">

            <span>{{dipendente.userName}} :</span>
          
          
            <div *ngFor="let competenze of dipendente.competenceUser ">
           =========================================================     <br>
           Area di Competenza: <span>{{competenze.area}}</span> <br>
           Nome Competenza: <span>{{competenze.nameComp}}</span> <br> <!-- da modificare , questo è un esempio-->
           Livello Competenza: <span>{{competenze.level}}</span> <br>
          
            </div>
            <hr>
        </li>
    </ul>
